html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
  /* background-color: #202020; */
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Montserrat", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #e4e2e2;
  font-family: "Montserrat", sans-serif;
}

/* div {
  color: #ffffff;
} */
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #e4e2e2;
  /* color: #20202; */
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  font-family: "proxima-nova", sans-serif;
}
h2 {
  font-weight: 700;
  font-size: 1.6rem;
  padding: 1rem 0;
}

h4 {
  text-align: center;
  font-weight: 500;
  font-style: italic;
  padding-bottom: 0.75rem;
  padding-top: 1.5rem;
}

.italic {
  font-style: italic;
}

a {
  text-decoration: none;
  color: #202020;
}
a:hover {
  text-decoration: none;
  color: #787878;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 0.1;
  font-size: 1.6rem;
  font-family: "proxima-nova", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: #404040;
  padding: 1rem;
}
a.artist {
  /* color: #ffffff; */
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  background-color: #f02020;
  color: #ffffff 0.1;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.min-30 {
  min-width: 30rem;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  margin-left: 1rem;
  max-width: 3rem;
  width: 100%;
}
img.medium-left {
  padding-left: 10rem;
  max-width: 29rem;
  width: 100%;
}

img.medium-center {
  max-width: 29rem;
  width: 100%;
}

img.large {
  width: 100%;
}

/* Card */
.card {
  border: 0.1rem #c0c0c0;
  /* background-color: #c0c0c0; */
  color: #404040;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-pay {
  border: 0.1rem #c0c0c0;
  /* background-color: #c0c0c0; */
  color: #404040;
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: #f8f8f8;
}

.card-text {
  color: #404040;
}

.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
  display: inline-block;
}

.card-desc {
  padding: 1rem;
  display: inline-block;
}
.price {
  font-size: 2rem;
  color: #404040;
  padding: 5rem;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #e4e2e2;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table th {
  color: #203040;
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}

.table td {
  color: #203040;
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}

/* Carousel */
.sliderimg {
  width: 100%;
  object-fit: cover;
}

/* Organizations */
.square {
  background-color: #202020;
  border-radius: 5%;
  display: inline-block;
  position: relative;
  text-align: center;
  width: 33vw;
  height: 28vw;
}

.square:hover {
  background-color: #dadada;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.blurb {
  position: absolute;
  width: 85%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  font-weight: medium;
  color: #202020;
  text-align: left;
  opacity: 0;
}

.organization {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.organization:hover {
  opacity: 0.2;
}

@media (min-width: 576px) {
  .square {
    height: 25vw;
    width: 35vw;
  }
}

@media (min-width: 992px) {
  .blurb {
    opacity: 1;
    font-size: 0.75rem;
  }
  .blurb:hover {
    z-index: 1;
  }
  .square {
    height: 20vw;
    width: 25vw;
  }
}

@media (min-width: 1200px) {
  .blurb {
    font-size: 1rem;
  }
}

.row-org {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10rem;
}

.row-org.center {
  justify-content: center;
}
.row-org.top {
  align-items: flex-start;
}
